.miniProductContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.productImageContainer {
  width: 4rem;
  height: 3rem;
}

.productImage {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
}

.titleContainer {
  width: 120px;
  font-weight: bold;
}

.qtyContainer {
  width: 60px;
}

.icon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
