.productCard {
  border: 1px solid var(--border-clr);
  border-radius: 10px;
  background-color: var(--white);
  overflow: hidden;
  width: 100%;
  height: fit-content;
}

.imageContainer {
  height: 170px;
  background-color: var(--border-clr);
}

.productImage {
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.productInfo {
  padding: 0.75rem 0.9rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-weight: bold;
  color: var(--text-clr);
}

.textContainer {
  width: 100%;
  text-align: left;
}

.price {
  color: var(--primary-clr);
}

.btnContainer {
  width: 100%;
}
