.link {
  font-weight: bold;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  z-index: 1;

  &:hover {
    &::after {
      content: "";
      position: absolute;
      background-color: var(--primary-clr);
      opacity: 0.6;
      width: 100%;
      height: 4px;
      bottom: 5px;
      left: 0;
      z-index: -1;
    }
  }
}
