.header {
  height: var(--header-height);
  padding: 10px 15px;
  background-color: var(--secondary-background-clr);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-clr);
}

.elementsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  margin-right: 5rem;
}

.linkContainer {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  width: 300px;
}

.cartContainer {
  margin-left: 1rem;
  width: 100px;
}
