:root {
  --black: #1f2933;
  --white: #ffffff;
  --gray: #f5f6f8;
  --dark-gray: #e5e7eb;
  --red: #dc2626;
  --dark-red: #9b1c1c;

  --primary-clr: var(--red);
  --primary-clr-hover: var(--dark-red);
  --background-clr: var(--gray);
  --secondary-background-clr: var(--white);
  --border-clr: var(--dark-gray);
  --text-clr: var(--black);
  --text-clr-inverted: var(--white);

  --header-height: 50px;
}
